$icomoon-font-family: "imaego" !default;
$icomoon-font-path: "../fonts" !default;

$im--hamburger: "\e90a";
$im--linkedin: "\e909";
$im--double-down-arrow-path1: "\e902";
$im--double-down-arrow-path2: "\e903";
$im--double-up-arrow-path1: "\e904";
$im--double-up-arrow-path2: "\e905";
$im--arrow-right: "\e900";
$im--cross: "\e901";
$im--facebook: "\e906";
$im--instagram: "\e907";
$im--twitter: "\e908";
$im--play: "\e912";
$im--sphere: "\e9c9";
$im--volume-low: "\ea28";