extends ../layout

block head
    title James Pickford | Talent | imaego
    - var bodyClass='headerHide showBack'

block content
    h2.teko.bg--title.home TEAM
    section.container--responsive
        .inner_container 
            h1.page-title.teko.font--center JAMES PICKFORD