section.swiper-slide( data-home-slide="0" data-html="<img src='./assets/images/logo-2.png'>" )
    
    .content--container.home
        img.mobileOnly.mobilelogo(src=require('src/images/logo-2_big.png'))
        .left.desktopOnly
            h3.left-big-title.home-title.teko WE ARE
                br
                | BRAND ARCHITECTS
            .pd-l.row
                p.pronoun brænd ɑːkɪtekt
            .box.text.text--2 The process of building a persons/businesses brand through telling their story by sharing their passions and values through quality content and authentic partnerships that truly resembles who they are.
        .middle
            .home--container
        .left.mobileOnly
            h3.left-big-title.home-title.teko WE ARE
            h3.left-big-title.home-title.teko BRAND ARCHITECTS
            .pd-l.row
                p.pronoun brænd ɑːkɪtekt
            .box.text.text--2 The process of building a persons/businesses brand through telling their story by sharing their passions and values through quality content and authentic partnerships that truly resembles who they are.
        .right
    img.indicator-arrow.bottom(src=require('src/images/arrow-down.svg'))
img.indicator-arrow.bottom.mobileOnly(src=require('src/images/arrow-down.svg'))