section.swiper-slide( data-home-slide="4" data-html="Insights" )
    h2.teko.bg--title INSIGHTS
    .content--container.insights
        .middle
            .insights--container#insights
                //- .box.border--fat#firstBlog()
                //-     h4.teko Big title of the featured post that can almost cover up to 2 lines
                //-     a.plus--link(href="insight/insight.html")
                //-         i.im--cross
                //-         span READ MORE
                //- .box
                //-     .img-content
                //-         img(src=require('src/images/img-1.jpg'))
                //-     .content
                //-         p Title that has some random textual content that cover up to 3 lines...
                //-         a.plus--link.dark(href="#")
                //-             i.im--cross
                //-             span READ MORE
                //- .box
                //-     .img-content
                //-         img(src=require('src/images/img-1.jpg'))
                //-     .content
                //-         p Title that has some random textual content that cover up to 3 lines...
                //-         a.plus--link.dark(href="#")
                //-             i.im--cross
                //-             span READ MORE
                //- .box
                //-     .img-content
                //-         img(src=require('src/images/img-1.jpg'))
                //-     .content
                //-         p Title that has some random textual content that cover up to 3 lines...
                //-         a.plus--link.dark(href="#")
                //-             i.im--cross
                //-             span READ MORE
                //- a(href="#").box.border--fat.see-all
                //-     .plus--link(href="#")
                //-         i.im--cross
                //-         span SEE ALL POSTS

        .right
    img.indicator-arrow.bottom(src=require('src/images/arrow-down.svg'))