section.swiper-slide( data-home-slide="2" data-html="The Journey" )
    h2.teko.bg--title JOURNEY
    .content--container.journey
        .left
            h3.left-big-title.journey-title.teko.desktopOnly WHY 
                br
                | WE&nbsp;
                br
                | ARE 
                br
                | HERE 
                h3.left-big-title.journey-title.teko.mobileOnly WHY WE ARE HERE
        .middle
            .journey--tabs
                .tab.selected#0
                    .teko.number 1
                .tab#1
                    .teko.number 2
                .tab#2
                    .teko.number 3
                .tab#3
                    .teko.number 4
                .tab#4
                    .teko.number 5
                    
            .journey--container.selected
                .box.border--fat
                    .teko.selectedNumber 1
                    .teko.selectedTitle Change is a constant
                    .journey--text  ...and an opportunity in the world of social media. Benefitting from these rapid changes takes experience and effort. We act as your ear to the ground and engine room, allowing you to do what you do best while we help shape your brand and achieve more.
                
        .right
    img.indicator-arrow.bottom(src=require('src/images/arrow-down.svg'))