section.swiper-slide( data-home-slide="1" data-html="Vision" )
    h2.teko.bg--title.mt-7 VISION
    .content--container.vision
        .left
        .middle
            .vision--container
                .left
                    .desktopOnly.box.text.title.teko.text--1 We curate
                        br
                        | win-win
                        br
                        | content
                    .box.img.img--1
                        img(src=require('src/images/vis-4.jpg'))
                    .box.img.img--2
                        img(src=require('src/images/vis-2.png'))
                    .box.text.text--2 We believe that the quality on social media can and should be better. Particularly content which is being paid for in brand partnerships; but more than that, there's profiles of brilliantly talented people that may already have a following, but they don't truly tell their story. That's where we come in - the outcome is greater content, partnerships and engagement.
                .right
                    .box
                        img(src=require('src/images/vis-1.png'))
        .right
    img.indicator-arrow.bottom(src=require('src/images/arrow-down.svg'))